img {
	width: 200px;
	border-radius: 50%;
}

h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.header {
	text-align: center;
  font-size: 30px;
  font-weight: 200;
}